# too big
snacky-backend.tar
# gossage
snacky-backend/snacky-backend/.gradle
snacky-backend/snacky-backend/build
snacky-backend/snacky-backend/.idea
*.lock
*.bin
snacky-backend/snacky-backend/.gradle/8.5/executionHistory/executionHistory.bin
snacky-backend/snacky-backend/.gradle/8.5/executionHistory/executionHistory.bin
snacky-backend/snacky-backend/.gradle/8.5/executionHistory/executionHistory.bin
snacky-backend/snacky-backend/.gradle/8.5/executionHistory/executionHistory.bin
snacky-backend/snacky-backend/.gradle/8.5/executionHistory/executionHistory.lock
snacky-backend/snacky-backend/.gradle/8.5/fileHashes/fileHashes.bin
snacky-backend/snacky-backend/.gradle/8.5/fileHashes/fileHashes.lock
snacky-backend/snacky-backend/.gradle/8.5/fileHashes/resourceHashesCache.bin
snacky-backend/snacky-backend/.gradle/buildOutputCleanup/buildOutputCleanup.lock
snacky-backend/snacky-backend/.gradle/8.5/executionHistory/executionHistory.lock
snacky-backend/build/
snacky-backend/snacky-backend/.gradle/8.5/checksums/checksums.lock
snacky-backend/snacky-backend/.gradle/8.5/checksums/md5-checksums.bin
snacky-backend/snacky-backend/.gradle/8.5/checksums/sha1-checksums.bin
snacky-backend/snacky-backend/.gradle/8.5/dependencies-accessors/dependencies-accessors.lock
snacky-backend/snacky-backend/.gradle/8.5/executionHistory/executionHistory.bin
snacky-backend/snacky-backend/.gradle/8.5/executionHistory/executionHistory.lock
snacky-backend/snacky-backend/.gradle/8.5/fileHashes/fileHashes.bin
snacky-backend/snacky-backend/.gradle/8.5/fileHashes/fileHashes.lock
snacky-backend/snacky-backend/.gradle/8.5/fileHashes/resourceHashesCache.bin
snacky-backend/snacky-backend/.gradle/buildOutputCleanup/buildOutputCleanup.lock
snacky-backend/snacky-backend/build/resources/main/application.properties
*.bin
*.lock
