<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.fgen.api.mapper.inventory_slot_Mapper">

    <select id="getAllSlots" resultType="ca.usherbrooke.fgen.api.business.inventorySlot">
        SELECT
            slot_inventaire,
            CASE
                WHEN inventaire.id_produit = 1 THEN -1
                ELSE  inventaire.id_produit
                END AS  id_produit,
            quantite_inventaire,
            prix_achat_produit
        FROM
            projet.inventaire
                JOIN projet.produit p ON p.id_produit = inventaire.id_produit
        WHERE
            inventaire.id_machine = #{info.id_machine};
    </select>


    <update id="removeProductFromSlot" parameterType="ca.usherbrooke.fgen.api.business.information">
        UPDATE projet.inventaire
        SET quantite_inventaire = quantite_inventaire - #{info.quantite}
        WHERE id_produit = #{id_produit} AND slot_inventaire = #{info.slot};

        UPDATE projet.produit
        SET quantite_produit = quantite_produit + #{info.quantite}
        WHERE id_produit = #{info.id_produit};
    </update>

    <update id="addProductToSlot" parameterType="ca.usherbrooke.fgen.api.business.information">
        UPDATE projet.inventaire
        SET id_produit = (#{info.id_produit}), quantite_inventaire = (#{info.quantite})
        WHERE id_machine = #{info.id_machine} AND slot_inventaire = #{info.slot};

        UPDATE projet.produit
        SET quantite_produit = quantite_produit - #{info.quantite}
        WHERE id_produit = #{info.id_produit};
    </update>

    <insert id="setSlot" parameterType="ca.usherbrooke.fgen.api.business.information">
        UPDATE projet.inventaire
        SET id_produit = (#{info.id_produit}), quantite_inventaire = 0
        WHERE id_machine = #{info.id_machine} AND slot_inventaire = #{info.slot};
    </insert>

    <update id="resetSlot" parameterType="ca.usherbrooke.fgen.api.business.information">
        UPDATE projet.produit
        SET quantite_produit = quantite_produit + inventaire.quantite_inventaire
        FROM inventaire
        UPDATE projet.inventaire
        SET id_produit = 1, quantite_inventaire = 0
        WHERE id_machine = #{info.id_machine} AND slot_inventaire = #{info.slot};
    </update>


    <select id="getInventoryQuantity" resultType= "Integer">
        SELECT
            quantite_inventaire
        FROM
            projet.inventaire
        WHERE
            inventaire.slot_inventaire = #{info.slot_inventaire} AND inventoraire.id_machine = #{info.id_machine};
    </select>

    <select id="getMaxQuantity" resultType= "Integer">
        SELECT
            quantity_type_m
        FROM
            projet.type_de_machine
                JOIN projet.machine m ON m.id_type_m = type_de_machine.id_type_m
        WHERE
            machine.id_machine = #{info.id_machine};
    </select>

    <select id="isProductUsed" resultType="boolean">
        SELECT
            EXISTS (
                SELECT 1
                FROM projet.inventaire
                WHERE projet.inventaire.id_produit = #{info.id_produit} AND projet.inventaire.id_machine = #{info.id_machine}
            ) AS result;
    </select>


</mapper>