<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.fgen.api.mapper.inventory_Mapper">

    <select id="getInventory" resultType="ca.usherbrooke.fgen.api.business.inventory">
        SELECT
            slot_inventaire,
            inventaire.id_produit,
            quantite_produit,
            prix_achat_produit
        FROM
            projet.inventaire
                JOIN projet.produit p ON p.id_produit = inventaire.id_produit
        WHERE
            inventaire.id_machine = #{id_machine};
    </select>

    <insert id="newProduit" parameterType="ca.usherbrooke.fgen.api.business.machine">
        UPDATE projet.inventaire
        SET id_produit = (#{id_produit})
        WHERE id_machine = #{id_machine} AND slot_inventaire = #{slot_inventaire};
    </insert>

    <update id="newProduitQuantity" parameterType="ca.usherbrooke.fgen.api.business.machine">
        UPDATE projet.inventaire
        SET id_produit = (#{id_produit}), quantite_inventaire = (#{quantite_inventaire})
        WHERE id_machine = #{id_machine} AND slot_inventaire = #{slot_inventaire};
    </update>

    <update id="newProduitQuantity" parameterType="ca.usherbrooke.fgen.api.business.machine">
        UPDATE projet.inventaire
        SET quantite_inventaire = #{quantite_produit}
        WHERE id_produit = #{id_produit};
    </update>

    <update id="restProduit">
        UPDATE projet.inventaire
        SET id_produit = 1
        WHERE id_machine = #{id_machine} AND slot_inventaire = #{slot_inventaire};
    </update>
</mapper>