<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.fgen.api.mapper.machine_template_Mapper">

    <select id="getTemplateMachine" parameterType="ca.usherbrooke.fgen.api.business.information" resultType="ca.usherbrooke.fgen.api.business.machine_template">
        SELECT
            id_usager,
            image_type_m,
            manufacturier_type_m,
            model_type_m,
            NULL,
            NULL,
            NULL,
            NULL,
            row_type_m,
            column_type_m,
            quantity_type_m,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            id_type_m
        FROM
            projet.type_de_machine
        WHERE id_type_m = #{info.id_template} AND id_usager = #{info.id_usager};
    </select>

    <select id="getImageMachine" parameterType="ca.usherbrooke.fgen.api.business.information" resultType="String">
        SELECT
            image_type_m
        FROM projet.type_de_machine
        WHERE id_type_m = #{info.id_template} AND id_usager = #{info.id_usager}
    </select>

    <select id="getMachineSurfaceTemplate" parameterType="ca.usherbrooke.fgen.api.business.information" resultType="ca.usherbrooke.fgen.api.business.machine_template_surface">
        SELECT
            manufacturier_type_m,
            model_type_m,
            id_type_m
        FROM
            projet.type_de_machine
        WHERE id_type_m = #{info.id_template} AND id_usager = #{info.id_usager};
    </select>


    <select id="getTemplateMachinesAllID" parameterType="String" resultType="Integer">
        SELECT
            id_type_m
        FROM
            projet.type_de_machine
        WHERE id_usager = #{id_usager};

    </select>

    <insert id="createMachineTemplate" parameterType="ca.usherbrooke.fgen.api.business.machine_template">
        INSERT INTO projet.type_de_machine (model_type_m, manufacturier_type_m, image_type_m, row_type_m, column_type_m, quantity_type_m, id_usager)
        VALUES (#{machine_template.model_type_m},
                #{machine_template.manufacturier_type_m},
                #{machine_template.image_machine},
                #{machine_template.row_type_m},
                #{machine_template.column_type_m},
                #{machine_template.quantity_type_m},
                #{machine_template.id_usager});
    </insert>

    <delete id="deleteMachineTemplate" parameterType="ca.usherbrooke.fgen.api.business.information">
        DELETE
        FROM projet.type_de_machine
        WHERE id_type_m = #{info.id_template} AND id_usager = #{info.id_usager};
    </delete>


</mapper>
