<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.fgen.api.mapper.machine_inventory_Mapper">

    <select id="getMachine" resultType="ca.usherbrooke.fgen.api.business.machine">
        SELECT
            image_machine,
            nom_machine,
            emplacement_machine,
            no_serie,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            id_type_m

        FROM
            projet.machine
        WHERE
            id_machine = #{id_machine};
    </select>


    <select id="getMachinesImage" resultType="String">
        SELECT
            image_machine
        FROM
            projet.machine
        WHERE
            id_machine = #{id_machine};
    </select>

    <select id="getMachinesSurface" resultType="ca.usherbrooke.fgen.api.business.machine_inventory_surface">
        SELECT
            nom_machine,
            emplacement_machine,
            NULL,
            id_type_m,
            id_machine
        FROM
            projet.machine
        WHERE
            id_machine = #{id_machine};
    </select>

    <select id="getAllMachinesID" resultType="Integer">
        SELECT
            id_machine
        FROM
            projet.usager_x_machines
        WHERE
            id_usager = #{id_usager}
    </select>


    <insert id="newMachineSpecifics" parameterType="ca.usherbrooke.fgen.api.business.machine">
        INSERT INTO projet.machine (image_machine, nom_machine, emplacement_machine,no_serie, id_type_m)
        VALUES (#{newMachine.image_machine},
                #{newMachine.name_machine},
                #{newMachine.location_machine},
                #{newMachine.serialId_machine},
                #{newMachine.templateId_machine});
    </insert>

    <delete id="deleteMachineTemplate" parameterType="Integer">
        DELETE
        FROM projet.machine
        WHERE id_machine = #{id_machine};
    </delete>


    <!--
    Ce qui est a faire

    machine_surface getMachinesSurface(id_usager, id_machine)


    void newMachineSpecifics(machine_inventory_specific) //ca pourrait etre un bool
    bool deleteMachineSpecifics(id_usager, id_machine)


     -->
</mapper>
