<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.fgen.api.mapper.product_inventory_page_Mapper">

    <select id="getAllCompactProduct" resultType="ca.usherbrooke.fgen.api.business.produit_inventory_page">
        select
            image_produit,
            nom_produit,
            quantite_produit

        from projet.product_inventory_page
        where id_usager = #{id}
    </select>


</mapper>
