<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.fgen.api.mapper.product_template_Mapper">

    <select id="getProductTemplate" resultType="ca.usherbrooke.fgen.api.business.product_template">
        SELECT
            id_usager,
            id_type_p,
            image_type_p,
            manufacturier_type_p,
            model_type_p,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            est_emballe_dimension,
            NULL,
            forme_dimension,
            largeur_dimension,
            hauteur_dimension,
            longueur_dimension,
            NULL
        FROM
            projet.type_de_produit
        JOIN projet.dimension d ON d.id_dimension = type_de_produit.id_dimension
        WHERE
            id_usager = #{info.id_usager} AND id_type_p = #{info.id_produit_template};
    </select>

    <select id="getProductTemplateImage" resultType="String">
        SELECT
            image_type_p
        FROM
            projet.type_de_produit
        WHERE
            id_usager = #{info.id_usager} AND id_type_p = #{info.id_produit_template};
    </select>

    <select id="getProductSurfaceTemplate" resultType="ca.usherbrooke.fgen.api.business.product_template_surface">
        SELECT
            manufacturier_type_p,
            model_type_p,
            id_type_p
        FROM
            projet.type_de_produit
        WHERE
            id_usager = #{info.id_usager} AND id_type_p = #{info.id_produit_template};
    </select>

    <select id="getProductTemplateAllID" resultType="Integer">
        SELECT
            id_type_p
        FROM
            projet.type_de_produit
        WHERE
            id_usager = #{id_usager}
    </select>

    <insert id="createProductTemplate" parameterType="ca.usherbrooke.fgen.api.business.product_template">
        INSERT INTO projet.dimension (largeur_dimension, hauteur_dimension, longueur_dimension, forme_dimension, est_emballe_dimension)
        VALUES (#{product_template.largeur_dimension},
                #{product_template.hauteur_dimension},
                #{product_template.longueur_dimension},
                #{product_template.forme_dimension},
                #{product_template.est_emballe_dimension});

        INSERT INTO projet.type_de_produit (image_type_p, model_type_p, manufacturier_type_p, id_usager, id_dimension)
        VALUES (#{product_template.image_type_p},
                #{product_template.model_type_p},
                #{product_template.manufacturier_type_p},
                #{product_template.id_usager},
                (SELECT MAX(id_dimension) FROM projet.dimension));
    </insert>

    <delete id="deleteProductTemplate" parameterType="ca.usherbrooke.fgen.api.business.information">
        DELETE
        FROM projet.type_de_produit
        WHERE id_type_p = #{info.id_produit_template} AND id_usager = #{info.id_usager};
    </delete>

</mapper>
