<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.fgen.api.mapper.product_inventory_specific_Mapper">

    <select id="getAllProduct" resultType="ca.usherbrooke.fgen.api.business.product_inventory_specific">
        select
            *
        from projet.product_inventory_specific
        where id_usager = #{id_usager}
    </select>

</mapper>
