<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.fgen.api.mapper.Usager_Mapper">

    <select id="selectOne" resultType="ca.usherbrooke.fgen.api.business.Usager">
        select id_usager,
               nom_usager,
               prenom_usager,
               email_usager,
               profil_pic_usager,
               id_status
        from projet.usager
        where id_usager = #{usager_id}
    </select>


    <select id="allUsagers" resultType="ca.usherbrooke.fgen.api.business.Usager">
        select id_usager,
               nom_usager,
               prenom_usager,
               solde_usager,
               email_usager,
               profil_pic_usager,
               id_status
        from projet.usager
    </select>

    <select id="nomUsagers" resultType="String">
        select
               prenom_usager
        from projet.usager
    </select>

    <delete id="deleteOne">
        delete
        from projet.Usager
        where id_usager = #{id}
    </delete>

    <select id="getNewId" resultType="Integer">
        select nextval('app.Usager_seq'::regclass)
    </select>

    <insert id="insertUsager" parameterType="ca.usherbrooke.fgen.api.business.Usager">
        INSERT INTO projet.Usager (
                                   nom_usager,
                                   prenom_usager,
                                   solde_usager,
                                   email_usager,
                                   profil_pic_usager,
                                   id_status)
        VALUES (
                #{nom_usager},
                #{prenom_usager},
                #{solde_usager},
                #{email_usager},
                #{profil_pic_usager},
                #{id_status});
    </insert>

</mapper>
